.addTask
{
    margin: 60px 100px 15px 100px;
    padding: 20px 60px;
    border: 1.5px solid beige;
    text-align: start;
}

.addTask form input
{
    width: 60%;
    padding: 8px;
    margin-left: 10px;
    border-radius: 5px;
}

.addTask form button
{
    margin-left: 120px;
    background-color: skyblue;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.addTask form .reset
{
    margin-left: 20px;
    font-size: 13.9px;
    padding: 5px;
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
}

.addTask form select
{
    margin-left: 25px;
    padding: 5px;
    cursor: pointer;
}